<nav class="sidebar-nav">
    <ul>
        <li>
            <a href="#" class="active" id="pages-link">
                <i class="fas fa-file-alt"></i>
                <span>Pages</span>
            </a>
        </li>
        <li>
            <a href="#" id="config-link">
                <i class="fas fa-sliders-h"></i>
                <span>Config</span>
            </a>
        </li>
        <li>
            <a href="#" id="mail-link">
                <i class="fas fa-sliders-h"></i>
                <span>Mail</span>
            </a>
        </li>
    </ul>
</nav>